* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background: #191919;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

button {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: blueviolet;
}

button:hover {
  background-color: rgb(110, 49, 167);
}

.container {
  max-width: 1400px;
  margin: auto;
}

/* NAV VAR */
header {
  background-color: rgb(245, 245, 245);
  z-index: 2;
}

header .logo {
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  color: blueviolet;
  font-size: 1.45em;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}

header .navbar-brand {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-family: "Roboto", sans-serif;
  font-family: "Ysabeau", sans-serif;
}

header a:hover {
  color: blueviolet;
}

/* FOOTER */
footer {
  background-color: rgb(230, 230, 230);
}

footer p {
  margin: 0;
  color: rgb(100, 100, 100);
  font-size: 15px;
}

footer .container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 12px;
}

#main-about {
  padding: 0 20px;
  background-color: #f7f7f7;
}

#our-story h1 {
  font-size: 2.3em;
  padding: 15px;
  letter-spacing: 0.05em;
  font-weight: 500;
  text-align: center;
}

#our-story p {
  justify-content: center;
  text-align: justify;
}

.our-team-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: justify;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card img {
  width: 100%;
  height: 375px;
  object-fit: cover;
}

.card-title {
  text-align: center;
}

#youtube-channel h1 {
  font-size: 2.3em;
  padding: 15px;
  letter-spacing: 0.05em;
  font-weight: 500;
  text-align: center;
}

#youtube-channel p {
  text-align: justify;
}

.youtube-channel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
}

.video-responsive {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* CONTACTO */
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#location h1 {
  font-size: 2.3em;
  padding: 30px 0;
  letter-spacing: 0.05em;
  font-weight: 500;
  text-align: center;
  padding-top: 20px;
}

#location p {
  padding-top: 30px;
}

#location p {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.71429;
  font-weight: 400;
  letter-spacing: normal;
  color: #151515;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  text-align: justify;
  color: #191919;
  padding: 10px 15px 0 15px;
}

#social-media {
  background-color: #f7f7f7;
  color: black;
  text-align: center;
}

#social-media .container-index {
  padding: 50px 12px;
}

#social-media h5 {
  font-size: 2.3em;
  padding-bottom: 30px;
  letter-spacing: 0.05em;
  font-weight: 500;
}

#social-media .social-media-cards {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  width: 368px;
  aspect-ratio: auto 368/420;
  background-size: cover;
  background-position: center center;
  position: relative;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#social-media img {
  border-radius: 10px;
  align-items: center;
}

#social-media .all-cards {
  display: flex;
  gap: 30px;
  align-items: center;
}

#social-media h3 {
  font-size: 28px;
}

.social-media-cards:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

/* FORM */
#form h5 {
  font-size: 2.3em;
  padding-bottom: 10px;
  font-weight: 500;
  text-align: center;
  padding-top: 20px;
}

#form p {
  font-family: "Montserrat", sans-serif, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.71429;
  font-weight: 400;
  letter-spacing: normal;
  color: #151515;
  text-align: justify;
  padding: 10px 15px 0 15px;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.contact-box {
  max-width: 850px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.right {
  padding: 25px 40px;
}

h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #2ecc71;
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 150px;
}

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #2ecc71;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

/* HERO */
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 756px;
  color: #ffffff;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../multimedia/header.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

#hero button {
  font-size: 16px;
  min-width: 160px;
  padding: 17px 18px 15px;
  position: relative;
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  line-height: 1.34;
  border: 2px solid;
  font-weight: 500;
  letter-spacing: normal;
  border-radius: 0%;
}

#hero h1 {
  padding: 0 10px;
  font-size: 25px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.05em;
}

#hero h3 {
  padding: 40px 0;
  font-size: 36px;
  font-weight: 100;
  line-height: 1.1;
}

#hero span {
  font-weight: bold;
}

/* SECTION 1 - CARDS */
#our-tours {
  background-color: #f7f7f7;
  color: black;
  text-align: center;
}

#our-tours .container-index {
  padding: 50px 12px;
}

#our-tours h5 {
  font-size: 2.3em;
  padding-bottom: 30px;
  letter-spacing: 0.05em;
  font-weight: 500;
}

#our-tours .cards {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  width: 368px;
  aspect-ratio: auto 368/420;
  background-size: cover;
  background-position: center center;
  position: relative;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#our-tours .card-texts {
  color: #ffffff;
  position: absolute;
  font-weight: 700%;
  width: 100%;
  bottom: 8%;
  letter-spacing: normal;
}

#our-tours img {
  border-radius: 10px;
  align-items: center;
}

#our-tours .all-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

#our-tours h3 {
  font-size: 28px;
}

/* SECTION 2 - BENEFITS */
#why-us {
  text-align: center;
  padding: 70px 12px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../multimedia/afternoon-beach.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

#why-us h4 {
  font-size: 50px;
  padding-bottom: 50px;
  color: #f7f7f7;
}

#why-us .benefit {
  display: grid;
  grid-template-columns: 100px 1fr;
  text-align: left;
  padding: 30px 30px 0 0;
}

#why-us li {
  font-size: 50px;
}

#why-us h5 {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.71429;
  font-weight: 400;
  letter-spacing: normal;
  color: #151515;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  text-align: justify;
  color: #ffffff;
}

#why-us button {
  font-size: 16px;
  min-width: 160px;
  padding: 17px 18px 15px;
  position: relative;
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  line-height: 1.34;
  border: 2px solid;
  font-weight: 500;
  letter-spacing: normal;
  border-radius: 0%;
}

#why-us li {
  display: flex;
  align-items: center;
}

/* MEDIA QUERY */
@media (min-width: 720px) {
  header {
    position: fixed;
    width: 100%;
  }
  header .container {
    flex-direction: row;
    justify-content: space-between;
  }
  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 10px;
  }
  #galeria-carrusel .container {
    display: flex;
    justify-content: space-evenly;
  }
  #galeria-carrusel .imagen-carrusel {
    background-image: url(../multimedia/imagen.png);
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 500px;
  }
  #galeria-carrusel .texto-carrusel {
    width: 50%;
    text-align: initial;
    max-width: 600px;
    display: flex;
    padding-left: 30px;
    justify-content: center;
    flex-direction: column;
  }
  #galeria-carrusel h2 {
    margin-top: 0;
  }
  #our-tours .all-cards {
    display: flex;
    justify-content: center;
  }
  #our-tours p {
    display: block;
    margin-bottom: 30px;
  }
  #our-tours .cards {
    padding: 50px;
  }
  #our-tours h3 {
    margin-top: 0;
  }
  #why-us {
    background-image: url(../multimedia/imagen.png);
    background-repeat: no-repeat;
    background-size: 500px 400px;
    background-position: calc(100vw - 500px) 120px;
  }
  #why-us .container {
    text-align: initial;
  }
  #why-us ul {
    margin-left: 100px;
  }
}
#hero-places {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 756px;
  color: #ffffff;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../multimedia/places1.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

#hero-places h1 {
  padding: 0 10px;
  font-size: 25px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.05em;
}

#hero-places h3 {
  padding: 40px 0;
  font-size: 36px;
  font-weight: 100;
  line-height: 1.1;
}

#hero-places span {
  font-weight: bold;
}

#id-places-cards {
  background-color: #f7f7f7;
}

.places-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: justify;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card img {
  width: 100%;
  height: 375px;
  object-fit: cover;
}

.card-title {
  text-align: center;
}

/* end-tour alv*/
.c-item {
  height: 480px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

#our-tours-section .our-tours-container {
  padding: 0;
}

#our-tours-section h1 {
  text-align: center;
}

#our-tours-section {
  background-color: #f7f7f7;
  color: black;
  text-align: left;
  justify-content: center;
  padding: 30px;
}

#travel-plan {
  background-color: #f7f7f7;
  color: black;
  text-align: left;
  justify-content: center;
  padding: 0 30px 30px 30px;
}

li {
  padding: 3px;
  list-style-type: lower-roman;
}

#end-tour {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 756px;
  color: #ffffff;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../multimedia/tours_img9.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

#end-tour .end-tour-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
}

#end-tour button {
  font-size: 16px;
  min-width: 160px;
  padding: 17px 18px 15px;
  position: relative;
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  line-height: 1.34;
  border: 2px solid;
  font-weight: 500;
  letter-spacing: normal;
  border-radius: 0%;
}

#end-tour h1 {
  padding: 0 10px;
  font-size: 25px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.05em;
}

#end-tour h2 {
  padding: 40px 0;
  font-size: 36px;
  font-weight: 100;
  line-height: 1.1;
}

#end-tour span {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
